.user-msg {
    background-color: lightgray;
    padding: 1em 2em;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    border-radius: 2px;
    font-size: 1em;
}

.user-msg.success {
    background-color: var(--clr1bg);
}

.user-msg.error {
    background-color: var(--clr2);
    color: white;
}

.user-msg button {
    font-size: .8em;
    float: right;
    margin: .5em;
}